{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended", "./stylelint-prettier-fix.js"],
  "ignoreFiles": ["**/assets/styles/vendors/**/*", "**/node_modules/**/*", "apps/terms-app/src/assets/html/**/*"],
  "plugins": [
		"stylelint-order",
    "stylelint-scss"
	],
  "rules": {
    'at-rule-empty-line-before': [
			'always',
			{
				except: ['blockless-after-same-name-blockless', 'first-nested'],
				ignore: ['after-comment'],
        ignoreAtRules: [ "else" ]
			},
		],

    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,

    "at-rule-semicolon-space-before": "never",
    "at-rule-no-vendor-prefix": true,
    "color-named": "always-where-possible",
    "color-no-hex": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "font-family-name-quotes": "always-unless-keyword",
    "declaration-no-important": true,
    "font-weight-notation": "named-where-possible",
    "function-calc-no-invalid": true,
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "max-nesting-depth": 2,
    "media-feature-name-no-vendor-prefix": true,
    "no-empty-first-line": true,
    "no-unknown-animations": true,
    "number-max-precision": 2,
    "order/properties-alphabetical-order": true,
    "property-disallowed-list": [
      "box-shadow",
      {
        "message": "Use primitives from brand-identity"
      }
    ],
    "property-no-vendor-prefix": true,
    "selector-max-combinators": 2,
    "selector-attribute-quotes": "always",
    "selector-max-attribute": [
      0,
      {
        "ignoreAttributes": [ "disabled", "type", "dir" ]
      }
    ],
    "selector-max-class": 3,
    "selector-max-compound-selectors": 3,
    "selector-max-id": 0,
    "selector-max-pseudo-class": 2,
    "selector-max-type": [
      0,
      {
        "ignore": [ "compounded", "descendant" ],
        "ignoreTypes": [ "/^tt-/", "/^ion-/" ]
      }
    ],
    "selector-max-universal": 0,
    "selector-no-vendor-prefix": true,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [ "/^tt-/", "/^ion-/" ]
      }
    ],
    "shorthand-property-no-redundant-values": true,
    "string-quotes": "double",
    "time-min-milliseconds": 100,
    "value-no-vendor-prefix": true,
    "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-else-closing-brace-space-after": "always-intermediate",
    "scss/at-else-empty-line-before": "never",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-if-closing-brace-space-after": "always-intermediate"
  }
}
